body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #000;
  color: #FFF;
  border-color: #000;
	height: 100px;
}

.navbar-static-top a{
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #999;
}

.navbar-default .navbar-toggle {
	border-color: transparent !important;
}

.navbar-toggle {
	background-color: transparent !important;
}