{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
</link>
<div title="nav-label">
    <label>Navigation:</label>
</div>
<div title="navigation">
    <b>|</b> <a href="/" data-toggle="tooltip" data-placement="bottom" id="home-href">Home</a> <b>|</b> 
    <a href="/rental/checkedout/" data-toggle="tooltip" data-placement="bottom" id="computer-href">Currently Checked Out</a> <b>|</b> 
    <a href="/rental/history" data-toggle="tooltip" data-placement="bottom" id="display-href">History</a> <b>|</b> 
</div>
<br/>
<div title="buttons">
    <p>    
        <button type="button" onclick="window.location.href='/inventory/index/computers/create/'" align="right">Add</button>
        <button type="button" onclick="window.location='export'" align="right">Export Data</button></p>
</div>

<table id="ComputerTable" class="display">
    <thead>
        <tr class="noExl">
            <th>Device ID</th>
            <th>Device Name</th>
            <th>User</th>
            <th>Checkout date</th>
        </tr>
    </thead>
    <tbody>
        {% for c in checkoutHistory %}
            <tr>
                <td>
                    {{ c.device.id }}
                </td>
                <td>
                    {{ c.device.name }}
                </td>
                <td>
                    {{ c.user }}
                </td>
                <td>
                    {{ c.checkout_time }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div title="buttons">
    <p>    
        <button type="button" onclick="window.location.href='/inventory/index/computers/create/'" align="right">Add</button>
        <button type="button" onclick="window.location='export'" align="right">Export Data</button></p>
</div>

<div title="nav-label">
    <label>Navigation:</label>
</div>
<div title="navigation">
    <b>|</b> <a href="/" data-toggle="tooltip" data-placement="bottom" id="home-href">Home</a> <b>|</b> 
    <a href="/inventory/index/computers/" data-toggle="tooltip" data-placement="bottom" id="computer-href">Currently Checked Out</a> <b>|</b> 
    <a href="/inventory/index/display/" data-toggle="tooltip" data-placement="bottom" id="display-href">History</a> <b>|</b> 
</div>
<br/>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#ComputerTable').DataTable();
} );

/*
function popupFunction() {
    var choice;
    if (confirm("Are you sure that you want to delete this entry?") == true) {
        choice = "Deleting entry.";
    } else {
        choice = "Cancelling.";
    }
    document.getElementById("choice").innerHTML = choice;
}
*/

</script>



{% endblock %}
