{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% comment %}
<head>
    <script type="text/javascript" src="/path/to/jquery-latest.js"></script> 
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
</head>
{% endcomment %}

<div id="toolbar">
    <form id="changelist-search" method="GET">
        <div>
            <label for="searchbar">
                {% comment %} Insert image here {% endcomment %}
            </label>
            <input type="text" size="40" name="q" value id="searchbar" autofocus>
            <input type="submit" value="Search">
        </div>
    </form>
</div>

<table id="JackTable" class="table">
    <thead>
        <tr>
            <th>Building & Room Number</th>
            <th>Jack Number</th>
            <th>Jack Type</th> {% comment %} Or display name {% endcomment %}
            <th>Caller ID</th>
            <th>Phone extension</th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
        {% for p in jacks %} {% comment %} port isn't right object. Double-check and fix. {% endcomment %}
            <tr>
                <td>
                    <a href="{% url 'editjack' p.id %}">{{ p.buildingname }} {{ p.roomnumber }}</a>
                </td>
                <td>
                    {{ p.portnumber }}
                </td>
                <td>
                    {{ p.type }}
                </td>
                <td>
                    {{ p.callerid }}
                </td>
                <td>
                    {{ p.phone_extension }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% comment %}
{% block js %}
<script type="text/javascript">
$(document).ready(function()
    {
        $("#JackTable").tablesorter();
    }
);
</script>
{% endblock %}
{% endcomment %}