{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="row">
	<div class="col-md-3 col-lg-3 col-sm-12">
	{% if title %}
		<h1>{{ title }}</h1>
	{% endif %}
		<form method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" onclick="mailto:dcl67@drexel.edu" class="btn btn-default btn-raised btn-primary" value="Send email"/>
            
        </form>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript"



</script>
{% endblock %}