{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
</link>

<div title="buttons">
    <p>    
        <button type="button" onclick="window.location='add'" align="right">Add</button>
        <button type="button" onclick="window.location='export'" align="right">Export Data</button></p>
</div>

<table id="ComputerTable" class="display">
    <thead>
        <tr class="noExl">
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for a in appliances %}
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div title="buttons">
    <p>    
        <button type="button" onclick="window.location='add'" align="right">Add</button>
        <button type="button" onclick="window.location='export'" align="right">Export Data</button></p>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#ComputerTable').DataTable();
} );

/*
function popupFunction() {
    var choice;
    if (confirm("Are you sure that you want to delete this entry?") == true) {
        choice = "Deleting entry.";
    } else {
        choice = "Cancelling.";
    }
    document.getElementById("choice").innerHTML = choice;
}
*/

</script>



{% endblock %}
